/* Dollar Amounts */

.number  {
    font-size: 60px;
    font-weight: bold;
    display: block;
    margin-bottom: 28px;
}

.sign {
    font-size: 24px;
    font-weight: 100;
    vertical-align: super;
}

/* Total Payout Block */

#block-ms-affiliate-blocks-ms-affiliate-affiliate-payout > .content {
    background: #09A3D8;
    color: #fff;
    text-align: center;
    height: 80px;
    padding: 60px 0;
    border-radius: 3px;
}
#block-ms-affiliate-blocks-ms-affiliate-affiliate-payout > .content > p {
    font-size: 14px;
    line-height: 22px;
}

#block-ms-affiliate-blocks-ms-affiliate-affiliate-overview > .content {
    background: #09A3D8;
    color: #fff;
    text-align: center;
    height: 100px;
    padding: 50px 0;
    border-radius: 3px;
}

#block-ms-affiliate-blocks-ms-affiliate-affiliate-overview > .content > div {
    width: 33%;
    float: left;
}

#block-ms-affiliate-blocks-ms-affiliate-affiliate-overview > .content > div > .number {
    margin-bottom: 10px;
}

#block-ms-affiliate-blocks-ms-affiliate-affiliate-overview > .content > div > p {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
}

#block-ms-affiliate-blocks-ms-affiliate-individual-overview .content {
    background: #D8D8D7;
    color: #5B5C5E;
    font-size: 16px;
    text-align: center;
    /*height: 200px;*/
    padding: 40px 0;
    border-radius: 3px;
    overflow: hidden;
}

#block-ms-affiliate-blocks-ms-affiliate-individual-overview .ambassador-title {
    font-size: 30px;
    color: #09A3D8;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#block-ms-affiliate-blocks-ms-affiliate-individual-overview > .content > div {
    float: left;
    width: 28%;
    text-align: left;
    padding-left: 5%;
    border-right: 1px solid #939497;

}
#block-ms-affiliate-blocks-ms-affiliate-individual-overview > .content > div:last-child {
    border-right: 0;
}

#block-ms-affiliate-blocks-ms-affiliate-individual-overview > .content > div > p {
    margin-bottom: 0;
}

#block-ms-affiliate-blocks-ms-affiliate-individual-overview .number {
    font-size: 46px;
    margin-bottom: 0;
    color: #09A3D8;
}